<div class="container">
  <h1 class="text-center">About</h1>
  <div class="text-center">
    <p>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    　お子様からお年寄りの方までお召し上がりいただけるように<br>
    　さまざまなバリエーションをご用意しております。<br>
    　また、全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。<br>
    　ぜひご注文ください。</p>
  </div>
  <div class="text-center">
    <%= image_tag 'about_cake', size: "600x400" %>
  </div>

</div>
