<div class="col-md3">
  <table class="table table-border">
    <thead>
      <tr>
        <th class="text-center">ジャンル検索</th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td class="text-center">
          <%= link_to do %>
          <%= genre.name %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>